[Desktop Entry]
Name=LabDesk
NoDisplay=true
MimeType=x-scheme-handler/labdesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
